/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
/* -------------Variables */
:root{
--blue-color:rgb(6, 6, 156);
--white-color:white;
--black-color:#313337;
/* Tipografía */
--normal:12px;
/* Espaciado */
--space:10px;
/* Box shadow */
--box:0px 0 2px 1px #e6e5e9;
}

/* -------------Variables */
html,body{
  padding:0px;
  margin:0px;
  font-size: var(--normal);
  font-family: 'Open Sans', sans-serif;
}


nav{
  display: flex;
  background-color: var(--blue-color);
  padding: var(--space);
  color: var(--white-color);
  justify-content: space-between;
  align-items: center;
}

nav ul{
  display: flex;
}

nav li{
  padding-left: 20px;
  list-style: none;

}

nav li a{
  color: var(--white-color);
  text-decoration: none;
}

nav li a:hover{
  text-decoration: underline;
}

nav div img{
    height: 70px ;
    width: 70px;
    margin:10px;
}

/* ------------------------ Main section */

.main_section{
  padding: 15%;
  text-align: center;
}

.products{
  background-image: url("../images/curve.png");
  max-height: 50px;
  background-size: cover;
  background-position: center top;
  padding:20%;
  display: flex;
}

.product{
  padding: var(--space);
  margin-top: -230px;
}
.product .content{
  background-color: var(--white-color);
  padding: var(--space);
  box-shadow: var(--box);
}
.img_content{
  text-align: center;
  
}

.main_button{
  background-color: var(--blue-color);
  width: 100%;
  padding: var(--space);
  font-size: var(--normal);
  color: var(--white-color);
  border:0;
  cursor: pointer;
  border-radius: 2px;
}

.main_button:hover{
  background-color: #0000ad;
}

.img_content img{
    height: 60px;
    width: 60px;
}


.caracteristicas {
  /* height: 250px; */
  display: flex;
  /* padding: 20%; */
}

.feature{
  padding: 10%;
  text-align: center;
}

.feature img {
  height: 65px;
  width: 70px;
}

.feature p{
  text-align: justify;
}




/* menciones */

.menciones_header{
  text-align: center;
  margin-bottom: 20px;
}

.menciones{
  text-align: center;
  display: flex;
  padding: 5%10%;
}

.mencion{
  padding: 0px;
  justify-content: space-evenly;
  box-shadow: var(--box);
  margin: 10px;
}

.mencion h2{
  text-align: left;
}

.mencion img{
  height: 160px;
  width: 100%;
}

.mencion p, .mencion h2{
  margin: 10px;
  text-align: left;
}


.producto_img{
  height: 100px;
  width:250px;
}

.modulo_pago{
  background-color: var(--white-color);
  box-shadow: var(--box);
  padding: var(--space);
}

.modulo_pago_imagen{
  max-width: 150px;
  margin: auto;
  text-align: center;
}

.modulo_pago_imagen img{
  height: 200px;
  width: 150px;
}

label{
  font-size: var(--normal) ;
}

input {
  width: 100%;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.submit_btn{
  padding-top: 4px;
  background-color: var(--blue-color);
  border: none;
  align-items: center;
  color: white;
  border-radius: 20px;
  font-size: 14px;
}

/* Estilos para el Footer */

footer{
    background-color: #313337;
    color: #e6e5e9;
    display: flex;
    justify-content: space-between;
    height: 35px;
    align-items: center;
    padding: 15px;
    margin: 0px;
}
